.navbar-content {
  background-color: rgba(255,255,255, 0);
  // border-bottom: 3px solid rgba(var(--primary-yellow), 0);

  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;

  .app-logo {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2rem;
    cursor: pointer;

    img {
      filter: drop-shadow(0 0 10px rgba(var(--black), 0.5));
    }

    .slogan {
      color: rgb(var(--white));
      font-size: var(--font-size-sm);
      font-weight: 600;
      text-shadow: 0 0 10px rgba(var(--black), 0.75);

      @media (max-width: 700px) {
        display: none;
      }

      h2 {
        font-size: var(--font-size-xs);
        white-space: nowrap;
      }
      h3 {
        font-size: var(--font-size-xxs);
        white-space: nowrap;
      }

      &.slogan-black {
        color: rgb(var(--black));
        text-shadow: 0 0 10px rgba(var(--white), 0.75);
      }

      &.slogan-white {
        color: rgb(var(--white));
        text-shadow: 0 0 10px rgba(var(--black), 0.75);
      }
    }
  }

  a {
    color: rgb(var(--white)) !important;
    text-decoration: none;
    font-size: var(--font-size-xs);
    font-weight: 600;
    margin-left: 1.6rem;
    transition: all 0.2s;
    text-shadow: 0 0 10px rgba(var(--black), 0.75) !important;
    white-space: nowrap;


    &:hover {
      color: rgb(var(--primary-yellow)) !important;
    }

    &.auth-link {
      // margin-left: 6.4rem;
    }
  }

  .auth-link svg, .cart-icon {
    margin-left: 1.5rem;
    color: white;
    font-size: 3rem;

    &:hover {
      cursor: pointer;
    }
  }

}

.with-background {
  background-color: rgba(255,255,255, 1);
  // border-bottom: 3px solid linear-gradient(to right, rgba(var(--primary-purple), 0.33), rgba(var(--primary-yellow), 0.33));

  transition: 0.2s;

  a {
    color: rgb(var(--black)) !important;
    text-shadow: 0 0 0 transparent !important;

    &:hover {
      color: rgb(var(--primary-yellow)) !important;
    }
  }

  .auth-link svg, .cart-icon {
    margin-left: 1.5rem;
    color: black;
    font-size: 3rem;
    // filter: drop-shadow(0 0 10px rgba(var(--black), 0.85)) !important;

    &:hover {
      cursor: pointer;
    }
  }
}

.link-containers {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

// ! ======== THIS IS ONLY VISIBLE ON SCREEN SIZES SMALLER THAN 768px ========
  // ! THIS IS THE BUTTON THAT TOGGLES THE NAVBAR MENU ON SMARTPHONES
  .navbar-toggle {
    transform: translateY(2px);

    // @media (max-width: $smartphone) {
    //   transform: translateY(4px) !important;
    // }

    .toggle-button {
      border: none !important;
      background-color: transparent !important;
      filter: drop-shadow(0 0 10px rgba(var(--black), 0.85));
    }

    svg {
      // @media (max-width: $smartphone) {
      //   width: 3.5rem;
      //   height: 3.5rem;
      // }
    }
  }
