.navbar-content {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  .navbar-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    svg {
      width: 4.8rem;
      height: 4.8rem;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
