.wish-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 440px;
  cursor: pointer;

  // &.wish {
  //   box-shadow: 0 0 10px rgb(var(--primary-purple));
  // }

  // &.available-for-order {
  //   box-shadow: 0 0 10px rgb(var(--primary-yellow));
  // }

  &___image {
    object-fit: cover;
  }

  &__content {
    width: 337px;
    padding: 0.5rem;

    .available-flag {
      font-size: var(--font-size-xxs);
      font-weight: bold;
      background-color: rgb(var(--primary-yellow));
      color: white;
      padding: 0rem 1rem;
      display: inline;
      border-radius: 50rem;
    }

    h2 {
      font-size: var(--font-size-sm);
      font-weight: 500;
      margin-bottom: 1rem;
      color: rgb(var(--primary-purple));
    }

    p {
      text-align: left;
      font-size: var(--font-size-xs);
    }
  }
}
