.all-orders-table {
  margin: 0 auto;
  margin-top: calc(2rem + var(--navbar-height));
  padding: 1rem;

  * {
    font-size: 2rem;
  }

  thead {
    border-bottom: 3px solid black;
  }

  tr {
    border-bottom: 3px solid black;
  }

  th, td {
    text-align: center;
    padding: 0 2rem !important;
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .accept-icon, .deny-icon {
      width: 3rem; height: 3rem;
      cursor: pointer;
    }

    .accept-icon {
      color: var(--success);
    }

    .deny-icon {
      color: var(--error);
    }
  }
}
