.formik-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 2rem;

  h3 {
    font-weight: 600;
  }
}

.alternative-auth-link {
  font-size: 2rem;
  color: var(--grey-medium);
  font-weight: 500;

  a {
    color: rgba(var(--primary-yellow));
    text-decoration: none;
  }
}


.error-message {
  margin-top: 2rem;
  color: var(--error);
  font-weight: bold;
}
