.product-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-weight: 500;

  cursor: pointer;
  margin-top: 1rem;
  padding: 0 0.5rem;
  border-radius: 50rem;

  box-shadow: 3px 3px 3px -1px rgba(10, 99, 169, 0.32), -3px -3px 3px -1px rgba(255, 255, 255, 0.70);
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 2px 2px 2px -1px rgba(10, 99, 169, 0.32), -2px -2px 2px -1px rgba(255, 255, 255, 0.70);
  }
}
