.prices-summup-container {
    .prices-table-container {
      width: 100%;
      margin-top: 1rem;
      overflow-x: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }

  label {
    background-color: white !important;
  }
}

.price-details-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .price-details {
    margin-top: 1rem;

    p {
      font-size: 1.7rem;
    }
  }

  .edit-icon {
    padding: 0.1rem;
    width: 3rem;
    height: 3rem;
    color: rgb(var(--primary-yellow));
    border-radius: 50%;
    transition: all 0.25s ease-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    }
  }
}
